@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}

body{
    background: #eee;
   }
   
   #side_nav{
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
   }
   .content{
      min-height: 100vh;
      width: 100%;
   }
   hr.h-color{
     background: #eee;
   }
   
   .sidebar li.active{
      background: #eee;
      border-radius: 8px;
   }
   
   .sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
   }
   .sidebar li a{
    color: #fff;
   }
   
   @media(max-width: 767px){
    #side_nav{
      margin-left: -250px;
      position: absolute;
      min-height: 100vh;
      z-index: 1;
   
    }
    #side_nav.active{
      margin-left: 0;
     }
   }

   .icon-inside-input {
    display: flex;
    align-items: center;
  }
  
  .icon-inside-input .form-control {
    padding-right: 30px; /* Adjust padding to ensure text does not overlap the icon */
  }
  
  .icon-inside-input i {
    position: absolute;
    right: 10px; /* Adjust as needed */
    z-index: 10;
  }
  